Requirements: 
	Ubuntu 14.04 LTS
	git
	python 2.7

Usage:
********
mkdir <your_test_dir>
cd <your_test_dir>
git clone https://github.com/denis-r4/whats-cooking
cd whats-cooking
python main.py
********
